/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  background: #051F20;
  color:#8EB69B;
}

/******************************************
/* LAYOUT
/*******************************************/
h1 {
  display: flex;
  align-content: stretch;
  justify-content: center;
  font-size: 3em;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 2em;
  background: black;
} 


button:hover {
  color: #B68EA9;
  background: black;
  border-radius: 1%;
  border: 1px solid black;
} 
a{
  background-color: transparent;
  position: relative;
  bottom: 60px;
  left: 45px;
  font-size: 1.5em;
  text-decoration: none;
}
a:hover{
  color: #B68EA9;
}
img{
  display: block;
  margin: 0 auto;
}
.game>div{
    display: flex;
    flex-direction: row;
}
#draw{
  margin-right:5px;
}
#show{
  margin-left:5px;
}
ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}
li{
  list-style: none;
}
/*****************************************
/* media query for span
/******************************************/
@media only screen and (min-width: 555px) {
  span {
    font-size: 1.5em;
    position: absolute;
    top: 7%;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (min-width: 790px) {
  span {
    font-size: 1.5em;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
  }
}
/******************************************
/* rules
/*******************************************/
#rules{
  margin: 0 5%;
}
